.inputs.inputs-radio .input-radio {
    margin-top: 0px;
}

.inputs.inputs-radio {
    display: flex;
    align-items: center;
    margin-top: 8px;
    min-height: 30px;
}

.inputs.inputs-radio .input-radio {
    margin-left: 10px;
}

.inputs.inputs-radio .input-radio:first-child {
    margin-left: 0px;
}

.inputs.inputs-radio .input-radio.second {
    margin-left: 10px;
}

label {
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
    color: #000000;
    font-weight: 400;
}

.input-label {
    font-size: 13px;
    line-height: 16px;
    color: #525866;
    font-weight: 500;
}