.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* Adjust the padding to control the image's aspect ratio */
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .image-container {
      padding-bottom: 40%; /* Adjust the padding for smaller screens */
    }
  }