<div class="main-container">
  <app-top-header></app-top-header>
  <app-navigation-header></app-navigation-header>
  <app-title-header
    [title]="'LIS'"
    [title2]="'Manual QC'"
    [isShowPrintButton]="true"
    [isShowSaveButton]="true"
    [isShowImportButton]="true"
    [isShowExportButton]="true"
    [isShowClearDataButton]="true"
  ></app-title-header>

  <div class="filter-container">
    <div class="filter-container-left">
      <form [formGroup]="filterForm">
        <div class="input-container">
          <app-input
            formControlName="machineCode"
            [type]="'IDInput'"
            [title]="'Machine Code'"
            [idPlaceholder]="'SYSMEX2000'"
            [placeholder]="'SYSMEX2000'"
          ></app-input>
        </div>
        <div class="input-container second">
            <app-select
              formControlName="type"
              [title]="'Type'"
              [options]="dept"
              [placeholder]="'Select'"
            ></app-select>
          </div>
        <div class="input-container second">
          <app-input
            formControlName="noControls"
            [title]="'No of Controls'"
            value="4"
          ></app-input>
        </div>
      </form>
    </div>
  </div>
</div>
