input {
    border: 1px solid #DDDDDD;
    background-color: transparent;
    padding: 7px;
    padding-left: 25px;
    width: 100%;
    height: 32px;
}

input[type=text]::placeholder {
    color: #CCCCCC;
    opacity: 1; /* Firefox */
}

.input-container {
    position: relative;
}

.input-container img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
}

.input-title {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #525866;
    margin-bottom: 8px;
}