<div class="main-container">
  <app-top-header></app-top-header>
  <app-navigation-header></app-navigation-header>
  <app-title-header
    [title]="'LIS'"
    [title2]="'Equipment Parameter Component Link'"
    [isShowPrintButton]="true"
    [isShowSaveButton]="true"
    [isShowImportButton]="true"
    [isShowExportButton]="true"
    [isShowClearDataButton]="true"
  ></app-title-header>

  <div class="filter-container">
    <div class="filter-container-left">
      <form [formGroup]="filterForm">
        <div class="input-container">
          <app-input
            formControlName="equipmentCode"
            [type]="'IDInput'"
            [title]="'Equipment'"
            [idPlaceholder]="'12'"
            [placeholder]="'Parameter'"
          ></app-input>
        </div>
      </form>
    </div>
    <div class="filter-container-right">
      <div class="button">
        <app-button
          [title]="'Add Components'"
          [type]="'secondarySmallButton'"
          (click)="openComponents()"
        >
        </app-button>
      </div>
      <div class="button">
        <app-button
          [title]="'Add Parameters'"
          [type]="'secondarySmallButton'"
          (click)="openParameters()"
        >
        </app-button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <div class="table-left padding-right-12">
      <table
        mat-table
        #table1
        [dataSource]="equipmentParaCompMasterData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="paramCode">
          <th mat-header-cell *matHeaderCellDef>Parameter Code</th>
          <td mat-cell *matCellDef="let element">{{ element.paramCode }}</td>
        </ng-container>

        <ng-container matColumnDef="paramDesc">
          <th mat-header-cell *matHeaderCellDef>Parameter Description</th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              {{ element.paramDesc }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="componentCode">
          <th mat-header-cell *matHeaderCellDef>Component Code</th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              {{ element.componentCode }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="componentDesc">
          <th mat-header-cell *matHeaderCellDef>Component Description</th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              {{ element.componentDesc }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element;let i = index">
            <img
            class="img-button"            
            (click)="deleteRow(i)"
            src="assets/svg images/Trash Bin Trash.svg"
          />
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayColumns; let i = index"
        ></tr>
      </table>
    </div>
  </div>
</div>
