<div class="top-header">
    <div class="top-header-left">
        <img src="../../../assets/Hospital.svg">
        <div class="select-container">
            <img class="icon-image" src="../../../assets/HospitalIcon.png"> 
            <select class="input-select" id="hospitals">
                <option value="Santacruz, Mumbai">Santacruz, Mumbai</option>
            </select>
            <img class="icon-image down-arrow" src="../../../assets/Alt Arrow Down.png">
        </div>
    </div>
    <div class="top-header-right">
        <div class="select-container">
            <img class="icon-image" src="../../../assets/Bookmark.png"> 
            <select class="input-select" id="bookmarks">
                <option value="Bookmarks">Bookmarks</option>
            </select>
            <img class="icon-image down-arrow" src="../../../assets/Alt Arrow Down.png">
        </div>
        <div class="question"><i class="fa-solid fa-question"></i></div>
        <div class="user-icon"> <div class="name">C</div></div>
    </div>
</div>