<div class="photo-select-container">
    <div class="input-title">{{ title }}</div>
    <input #fileInput type="file" (change)="fileHandle($event)">
    <div class="input-container">
        <img  class="selected-image" [src]="file.fileValue || 'assets/svg images/profile picture.svg'">
        <input type="text"class="file-selected" placeholder="Please select file" [(ngModel)]="file.name" readonly>
        <img *ngIf="file.name" [ngClass]="type === 'profilePhoto' ? 'close-circle' : 'close-circle2'" (click)="clearPhoto($event)" src="../../../assets/Close Circle.png">
        <img *ngIf="type === 'profilePhoto'" class="camera" src="../../../assets/Camera Minimalistic.png">
    </div>
    <button (click)="selectFile()" class="bg-color">Browse</button>
</div>
<div class="hint">Upload jpg, png file only*</div>