.example-sidenav-content {
    display: flex;
    height: 100%;
    margin-left: 48px;
    align-items: center;
    justify-content: center;
  }
.example-container {
    height: 100%;  
  }
  // .sidenav{
  //   width: 48px;
  // }