<!-- Life Cycle View Part -->
<!-- <div>
    <input type="text" #input/>
    <button (click)="OnSubmit(input)">Submit</button>
    <app-lifecycle  [value]="inputTExt" *ngIf="destroy" >
      <h1>This is projected Content</h1>
    </app-lifecycle>
    <button (click)="DestroyComponent()">Destroy</button>
  
  </div> -->


<!-- Content Child Part -->
<app-content-child>
  <h5 #para>This is paragraph</h5>
  <h5 class="se">This is paragraph secon</h5>
  <a class="link" href="">This is paragraph 2</a>
</app-content-child>
<!-- <app-custom-directive></app-custom-directive> -->