<div class="row contain">
  <div
    class="col-6 p-0 grid d-flex justify-content-center align-items-center flex-column"
  >
    <div class="row w-78">
      <div class="col-12 text-center">
        <img
          src="assets/media/login/background_image.svg"
          alt=""          
          width="100%"
          style="flex-shrink: 0"
        />
      </div>
    </div>
    <div class="row image-row w-78">
      <div class="col-sm p-0 text-center fest-pic">
        <img src="assets/media/login/festival.svg" class="w-100 "  alt="" />
      </div>
      <div class="col-sm updates">
        <div class="d-flex justify-content-center align-items-center" style="height: 36px;">
          <div style="margin-right: 4px;">
            <img
              src="assets/media/login/maintainance-icon.svg"
              alt=""
              
              srcset=""
            />
          </div>
          <div class="t-label">Scheduled Maintainance</div>
        </div>
        <div class="t-text">
          We are writing to inform you of a scheduled maintenance period for our software on 21/07/2024 from 11PM - 1AM. This maintenance is essential to ensure the continued reliability and performance of our services.
      </div>
      </div>
    </div>
  </div>
  <div class="col-6 p-0 d-flex align-items-center justify-content-center">
    
    <router-outlet />
  </div>
</div>
