.input-title {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #525866;
    margin-bottom: 5px;
    font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 16px;
}

input {
    border: 1px solid #DDDDDD;
    background-color: transparent;
    padding: 7px;
    font-size: 12px;
font-style: normal;
font-weight: 400;
height: 32px;
width: 100%;

}

input[type="time"]::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 16px;
    color: #344054;
}