.custom-badge {
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 4px;
    display: inline-block;
}

.custom-badge.black {
    background-color: #A8A29E;
}

.custom-badge.red {
    background-color: #F87171;
}

.custom-badge.blue {
    background-color: #38BDF8;
}

.custom-badge.orange {
    background-color: #FB923C;
}

.custom-badge.yellow {
    background-color: #FACC15;
}

.custom-badge.light-green {
    background-color: #A3E635;
}

.custom-badge.dark-green {
    background-color: #4ADE80;
}

.custom-badge2 {
    display: inline-block;
    padding: 4px 6px 4px 6px;
    font-size: 14px;
    line-height: 16px;
}

.custom-badge2.red {
    background-color: #DC26261A;
    color: #DC2626;
}

.custom-badge2.blue {
    background-color: #0284C71A;
    color: #0284C7;
}

.custom-badge2.light-green {
    background-color: #14B8A61A;
    color: #14B8A6;
}

.custom-badge2.yellow {
    background-color: #CA8A041A;
    color: #CA8A04;
}

.custom-badge2.green {
    background-color: #16A34A1A;
    color: #16A34A;
}

.custom-badge2.orange {
    background-color: #EA580C1A;
    color: #EA580C;
}

.custom-badge2.pink {
    background-color: #DB27771A;
    color: #DB2777;
}

.custom-badge2.dark-violet {
    background-color: #C026D31A;
    color: #C026D3;
}

.custom-badge2.violet {
    background-color: #9333EA1A;
    color: #9333EA;
}