.main-container {
    padding: 10px;
}

.filter-container {
    width: 100%;
    margin-top: 12px;
    display: inline-block;
}

.filter-container .input-container {
    display: inline-block;    
    vertical-align: bottom;
}


.filter-container .input-container.w-11 {
    width: 11%;
}
.filter-container .input-container.w-12 {
    width: 12%;
}
.filter-container .input-container.w-14 {
    width: 14%;
}
.filter-container .input-container.w-17 {
    width: 17%;
}
.filter-container .input-container.w-18 {
    width: 18%;
}
.filter-container .input-container.w-22 {
    width: 22%;
}
.filter-container .input-container.w-26 {
    width: 26%;
}
.pr-12 {
    padding-right: 12px;
}