.fp-container {
  padding: 18px 16px;
}
.f-title {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.jc-start {
  display: flex;
  justify-content: start;
}
.jc-center {
  display: flex;
  justify-content: center;
}
.jc-evenly {
  display: flex;
  justify-content: space-evenly;
}
.jc-end {
  display: flex;
  justify-content: end;
}
.f-icon {
  height: 40px;
  width: 40px;
  padding: 6px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 8px 0px rgba(28, 52, 214, 0.25);
}
.email-input {
  width: 300px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
}
.f-desc {
  color: #8b8b8b;

  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primaryButton {
  background-color: #6366f1;
  border: 1px solid #6366f1;
  color: #fff;
  font-size: 15px;
  padding: 8px 12px 8px 12px;
  font-weight: 500;
}
.otp-label {
  color: #6366f1;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.otp-input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 8px;
}
.resend-otp {
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.otp-timer {
  color: #8b8b8b;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
