<div class="fp-container">
  @if(status=='f-email'){
  <ng-container>
    <form [formGroup]="emailForm">
      <div class="jc-start">
        <img
          src="assets/media/login/left-arrow.svg"
          alt=""
          style="cursor: pointer"
          (click)="closeDialog()"
        />
        <p class="m-0 f-title">Forgot Password?</p>
      </div>
      <div class="jc-center m-4">
        <div class="f-icon">
          <img src="assets/media/login/forgot-pass.svg" alt="" />
        </div>
      </div>
      <div class="jc-center m-2">
        <input type="text" class="email-input" formControlName="emailId" placeholder="Email ID" />
      </div>
      <div class="jc-center f-desc m-2">
        Enter your registered email ID and we will send you OTP to reset your
        password
      </div>
      <div class="jc-evenly m-4">
        <app-button
          type="secondaryButton"
          title="Cancel"
          (click)="closeDialog()"
        ></app-button>
        <button class="primaryButton" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </ng-container>
  }@else if(status == 'f-otp'){
  <ng-container>
      <div class="jc-start">
        <img
          src="assets/media/login/left-arrow.svg"
          alt=""
          style="cursor: pointer"
          (click)="backPage()"
        />
        <p class="m-0 f-title">Enter OTP?</p>
      </div>
      <div class="jc-center mt-4">
        <div class="f-icon">
          <img src="assets/media/login/forgot-pass.svg" alt="" />
        </div>
      </div>
      <div class="jc-center mt-2">
      <p class="otp-label m-0">Enter the 4 Digit Code:</p>
      </div>

      <div class="otp-inputs mt-2" >
        @for(controls of otpControls; track controls ;let i = $index){

        
        <input
          type="text"
          maxlength="1"         
          [(ngModel)]="otpValues[i]"
          name="otp{{i}}"
          (input)="onInput($event, i)"
          (focus)="onFocus(i)"
          (keyup)="onKeyup($event, i)"
          class="otp-input"          
        />
        }
    </div>    
    <div class="resend-otp jc-end">
        <p class="m-0" style="cursor: pointer" (click)="resendOTP()">Resend OTP</p>
      </div>
    <div class="otp-timer jc-center mt-2">
        <p class="m-0">Request new OTP in {{countdown}} seconds</p>
      </div>
  </ng-container>
  }
</div>
